body{
    background: url("../images/body-bg.png") center center;
    background-size:cover ;
    margin: 0 !important;
}
.wrapper{
    border: 1px solid #D0D0D0;
    //  -webkit-box-shadow: 0 0 8px #111F57;
    background-color: #ffffff;
    padding: 0 20px;
    overflow: hidden;
    margin-left: 7%;
    margin-right: 7%;

}
#alt-email,#alt-phone{
    font-size: 23px;
}
#alt-phone{
    height: 100px;
}
.header{
    //  background-color:  #B8A7C0;  
    margin-bottom:0px;
    background-color:  rgba(21, 25, 25, 0.8);
    color: rgba(250, 250, 250, 0.8);
    height: 10%;

}
.container{
    width: 100% !important;
    padding-left:0; 
    padding-right: 2px;
}
.jumbotron.header .top-bar{
    margin: 0 0 10px;
}
.jumbotron.header .top-bar:after{
    content: '';
    display: block;
    clear: both;
}
.jumbotron.header .top-bar .user-name{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}
.jumbotron.header .holder{
    overflow: hidden;
    text-align: center;
}
.jumbotron.header .holder ul.new-ad{
    margin: 0 auto;
    padding: 0;
    width: 40%;
    float: none;  
}
.jumbotron.header .holder ul.new-ad .new-link{ line-height: 40px;}
.jumbotron.header .holder ul.new-ad .plus-icon{
    display: inline-block;
    vertical-align: middle;
    margin:  0 7px 0 0;
    font-size: 35px;
    line-height:37px;
}
.user-name{
    color: #fff;
}
.jumbotron{
    margin: 0;
    padding: 0;
}
.jumbotron.header{
    overflow: hidden;
    padding:30px;
    text-align: center;
    width: 100.92%;
}
.jumbotron.header h1{
    overflow: hidden;
    margin: 0;
    text-align: center;
}
.jumbotron.header h1 a{
    color: #fff;
}
.jumbotron.header h1 a:hover{ text-decoration: none;}
.jumbotron.header .nav.navbar-nav{

}
.container .jumbotron{
    border-radius: 0;
}
.footer{
    background-color:  rgba(21, 25, 25, 0.8);
    color: rgba(250, 250, 250, 0.8);
}
.navbar{
    border-radius: 0;
    margin-bottom: 5px;
    margin-top: 3px;
}
.profile-img{
    width: 30px;
    height: 30px;
}
.new-ad{
    text-decoration-color: #ec971f;
    background:honeydew; //#356635;
    text-decoration-style: double;
    width: 400px;
    margin-left: 0;
    text-align: center;
    margin-left: 30%;
    text-align: center;
    font-size: 300;
}
.new-link{
    color: green;
    font-size: x-large;
}
.f-holder{
    overflow: hidden;
    padding: 20px;
    margin-top: 6px;
    margin-bottom:16px;
    background:#1d1d1d;
}
.f-margins{
    margin-left: 8%;
}

.f-holder h1{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: xx-large;
}
.f-holder .holder{
    overflow: hidden;
    width: 100%;
}
.f-holder .holder .wrap{
    width:24.5%;
    padding: 0 30px 0 0;
    float: left;
}
.f-holder .holder .wrap ul{
    margin: 0;
    padding: 0;
    padding: 0 0 0 20px;
    list-style: none;
}
.f-holder .holder .wrap ul li{
    overflow: hidden;
    margin: 0 0 10px;
}
.f-holder .holder .wrap ul li a{ color: #999;}
.f-holder .holder .wrap ul li a:hover{
    color:#fff;
    text-decoration: none;
}
.f-holder .holder .wrap h2{
    font-size:17px;
    line-height: 20px;
    color: #fff;
    margin: 0 0 15px;
    text-transform: uppercase;
}
#bs-example-navbar-collapse-1{
    overflow: hidden;
    text-align: center;
    background: #3A3A4C;
    color: #fff;
    padding: 20px 0px;
    width: 101%;
}
.main-wrap .main-content{
    overflow: hidden;
    padding: 10px 10px 25px;
}
.main-wrap .aside{
    float: right;
    width: 30%;
    background: burlywood;//#ccc;
    text-align: center;
    border-left: 1px solid #ccc;
    margin-right: -20px;
}

.main-wrap .user-sidebar{
    overflow: hidden;
    background: #3A3A4C ;//blueviolet;
    margin-left: -0.5%;
    height: 500px; 

}
.sidebar-ul{
    list-style: none;


}
.sidebar-ul a{
    color:  #fff;  
    font-size: medium;
    color: #fff
}
.sidebar-ul a:hover{
    text-decoration: none;
    color: #999;;
}
.sidebar-li{
    font-size: x-large;
}
.main-wrap .user-content{
    float: right;
    width: 75%;
    background: #fff;//#ccc;
    // text-align: center;
    // border-left: 0px solid #ccc;
    // margin-right: -20px;
}
.sidebar-header{
    margin: 10% 10%;
    color:  #0FA7B4;
    /*/ font-size:xx-large;*/
}
.user-header{
    margin:1% 0;
    margin-left: 10%;
}

.main-wrap .aside h2{ color: #000;}
.main-wrap .aside .holder{ overflow: hidden;}
.main-wrap .aside .holder .block{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    text-align: center;
    margin-bottom: 14px;
}
.main-wrap .main-content .holder .block{
    width: 231px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #999;
    margin: 0 0 10px 6px;
    border-radius: 5px;
}
.main-wrap .main-content .holder .block:hover
{
    box-shadow: 0px 0px 1px 1px #333;
}

.main-wrap .main-content .block .image{
    //margin-left: -20px;
    width: 100%;
    height: 200px;
}
.main-wrap .main-content .block .buy{
    padding: 8px 20px;
    display: block;
    background:orange;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.main-wrap .aside .block .buy{
    padding: 8px 20px;
    display: block;
    background:blueviolet;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.main-wrap .main-content .block .buy:hover{
    text-decoration: none;
}
.main-wrap .aside .block .buy:hover{
    text-decoration: none;
}
.main-wrap .aside .block .image{
    width:100%;
    height:100%;
}

.main-wrap .main-content .block .image img{
    width: 100%;
    height: 100%;
}
.main-wrap .aside .block .image img{
    width: 100px;
    height: 100px;
}
.main-wrap .aside .block .text-wrap,
.main-wrap .main-content .block .text-wrap{
    overflow: hidden;
    padding: 3px 5px 10px;
}
.main-wrap .aside .block .text-wrap span,
.main-wrap .main-content .block .text-wrap span{
    display: block;
    margin:0 0 3px;
}
.main-wrap .aside .block .text-wrap .title,
.main-wrap .main-content .block .text-wrap .title
{
    font-weight: bold;
    text-transform: capitalize;
}

#bs-example-navbar-collapse-1 form{
    width: 100%;
}
#bs-example-navbar-collapse-1 form .form-group{margin:0 1px;}
.plus-icon{
    font-size: 50px;
}
.navbar-nav>li{
    float:none;
}
.nav>li>a:hover {
    background: none;
    color: #003399;
}
.nav .open>a:hover{
    background: none;
}
.ad-img{
    width: 250px;
    height: 150px;
}
#ad-img-view{
    height: 400px;
    width: 92%;
    border: 1px solid #999;
    border-radius: 5px;
}
#ad-img-view:hover{
    cursor: block;
}
.contact-details{
    font-size: 20px;
}
#title-view{
    font-size: 35px;
}

.dropdown{

}
.dropdown-toggle:hover { 
}


.form-control {
    border-radius: 0;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 15px;
}
.password-field{
    margin-bottom: 20px;
}
.form,.form-user {
    margin:0% 10%;
}
.form-user{
    margin-left: 20%;
}
.form-header{
    margin-top:1%;
    margin-left: 9%;
}
.form-header-user{
    margin: 3% 19%;
}
.navbar-form{
    margin: 0 5%;


}
.navbar-form .form-control{
    // width: 30px;
}
.price-range{
    width: 100px !important;
}
.search-text{
    width: 300px !important; 
}

//////////pagination////
.pagination {
    height: 36px;
    margin: 18px 0;
    margin: 20px 20px;

}

.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
    display: inline;
}
.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 10;
}
.pagination a:hover,
.pagination .active a {
    background-color: #f5f5f5;
}
.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}
.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
.pager {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
    text-align: center;
    *zoom: 1;
}
.pager:before,
.pager:after {
    display: table;
    content: "";
}
.pager:after {
    clear: both;
}
.pager li {
    display: inline;
}
.pager a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.pager a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}
.pager .next a {
    float: right;
}
.pager .previous a {
    float: left;
}
.pager .disabled a,
.pager .disabled a:hover {
    color: #999999;
    background-color: #fff;
    cursor: default;
}
.price{
    font-size: larger;
    color: #480091;
}
.price-view{
    font-size: 30px;
    color: sandybrown;
    margin:-1% 0%;
    padding-left: 4%;
}

.help-block{
    font-size:large;
}
.buy-view,.trigger-login{
    padding: 12px 29px;
    display: block;
    background: orange;
    color: #fff;
    text-transform: uppercase;
    /* text-align: center; */
    margin-top: 4%;
    font-size: 15px;
    margin-left: -4%;
    width: 110%;
}
.description-view{
    margin: 0% 2%;
    float: left;
    font-size: 17px;
    margin-top: 0%;
}
.about-us{
    margin: 2% 10%;
    font-size: 20px;
}
.pagination {
    margin: 2% 20%;
}

//////////
#custom-btn {
    border-radius: 0px;
    width: 50%;
}
.btn {
    border-radius: 0px;
}
.btn-primary {
    width: 33%;
}

/////////////

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background:#000 url(http://dbwebb.se/img/loader.gif) no-repeat scroll center center;
}
#lightbox {
    position: fixed;
    z-index: 999;
}
/*}///////////////////////*/

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

h2 {
    font-size: 30px;
    padding-left: 10px;
}
.main-wrap .main-content .block .buy:hover,
.main-wrap .aside .block .buy:hover
{
    opacity: 0.6;
}

.dp-img{
    border: 1px solid #ddd;
    border-radius: 0px; 
    box-shadow: 0 0 1px 1px #e8e8e8;
    width: 200px;
    height: 200px;
    border-radius: 6px;
}
.edit-me{
    font-size: 20px;
    display: block;
    width: 50%;
    padding: 0.5% 1%;
    margin-bottom: 2%;
    margin-left: 35%;
}

.thumb img
{
    width: 22%;
    height: 64px;
    float: left;
    margin: 10px 3px 0px;
    border: 1px solid #999;
    border-radius: 5px;
}
.row .holder
{

}
.product-info{
    margin: 2% 3%;
}
#enter_links a{
    font-size: 20px;
    color: #fff;
    text-decoration-style:  dotted;
}
#devider{
    font-size:  20px;
    text-decoration-style: dotted;
}
.row {
    margin-right: 0px !important;
    margin-left: -15px !important;
    /*width:100%;*/
}

#loginModal {

    top: 21%;
    overflow: hidden;
}
.modal-backdrop {
    background-color: green;


}
.search-text.clicked {
    width: 322px;
}
#register_form .form-control{
    width: 300px;
}
#login_form .form-control{
    width: 300px;
}
#register-btn,#login-btn,#fb-btn{
    width: 137%;
    
}
#fb-btn{
   background: #4e69a2;
}
/////////
ol, ul {
    color: red !important;
    margin-left: -38px !important;
    list-style: none !important;
}
.error{
    color: red;
    margin-left: 18%;
    font-size: 17px;

}
.pop-error{
    color: red;
    margin-left: 2%;
    font-size: 17px;
}
.success{
    color: #090;
    margin-left: 2%;
    font-size: 20px;
}

.main-wrap .main-content-new-ad{
    overflow: hidden;
    padding: 10px 10px 25px;
}
.main-wrap .aside-new-ad{
    float: right;
    width: 50%;
    // background: burlywood;//#ccc;
    text-align: center;
    border-left: 1px solid #ccc;
    margin-right: 0px;
    padding-left: 44px  
}
.aside-new-ad row{
    padding: 0px 5px;
}
#browse-img-view{
    width: 255px;
    height: 255px;
}
.images-browse{
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    text-align: center;
    margin-bottom: 14px;
}
.image-view{
    padding-top: 10px;
    width:100%;
    height: 238px;
}
.dp-browse{
    padding-top: 10px;
    width: 50px;
    height: 50px;
}
#no-results{
    margin-left: 35%;
    margin-top: 20%;
}
.myads{
    border: 1px solid #D0D0D0;
    margin: 14px 47px !important;
}
.myads .dp-img{
    margin-left: -14px;
    height: 170px;
    width: 170px;
    margin-bottom: -14px;
    border-radius: 0px;
    margin-top: 1px;
}
.myads_price{
    float: right;
    margin-right: 17px;
    color: sandybrown;
}
.myads-links{
    float: right;
}
.myads-links .link{
    margin: 3px 17px;
}
.myads .h1, .h2, .h3{
    margin-top: 7px;
    margin-left: 36px !important;
}
.myads-header{
    margin: 3% 4%;
}
.ad-field{
    margin-top: 9px;
}
.user-rating{
    font-size: 26px;
    margin: 1% 0% !important;
}
#rate-it{
    font-size: 41px;
}


///////////////////
.rating {
    //  float:left;
    width:300px;
    text-align:  center !important;
    margin-left: 2px;
}

.rating span { 
    float:right;
    position:relative; 
}
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
    //background: url("stars.png") repeat-x 0 0;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;

}
#adjust-rating{
    margin-right: 67% !important;
    text-align: center;
}
.sweet-alert p .rating {
    margin:1% 32%;
}

.sweet-alert button {
    color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0px;
    padding: 10px 32px;
    margin: 5px 5px;
    cursor: pointer;
}
.aaa{
    margin-left: 15px !important;
    margin-top: 9% !important;
    margin-bottom: 18% !important
}
#request{
    margin: 4% 2%;
}
/////////////////////////

/*
ignore this. it's just used to put the two example panels next to each other.
*/
.part {
    float:left;
    margin:0 5px;
}

/*
start by styling the box around the star.
the only important parts are display and width, which force the container to constrain to the star widths. Note that using padding is problematic and unadvised.
*/
.stars {
    display: inline-block;
    width: auto;
    position: relative;
    font-size: 40px;
    // border: 2px outset black;
    border-radius: 5px;
    /* background-color: navy; */
    margin: 5px;
}
/*
the BEFORE:pseudo element. This will represent the number of stars in the actual rating.
it floats above the AFTER element.
*/
.stars:BEFORE {
    content:"★★★★★";
    position:absolute;
    overflow:hidden;
    z-index:1;
    left:0px;
    top:0px;
    /* everything below here is optional. */
    color:#FC0;
    text-shadow:0px 1px 0 #000, 0 -1px 0 #fff;
}
/*
the AFTER:pseudo element. This will represent the total possible  stars available. It is set to relative to ensure it takes up the proper amount of space.
*/
.stars:AFTER {
    content:"★★★★★";
    position:relative;
    color:darkgray;
}
/*
if including user rating controls, float the AFTER element.
*/
.stars.rate:AFTER {
    position:absolute;
    left:0px;
}
/*
default state for the  user rating controls. invisible, but floating above the BEFORE and AFTER elements
*/
.stars.rate > A {
    color:transparent;
    text-decoration:none;
    position:relative;
    z-index:2;
}
/*
if the user is floating thier mouse above the rating, hide the display stars.
*/
.stars.rate:HOVER:BEFORE,
.stars.rate:HOVER:AFTER {
    display:none;
}
/*
turn all sthe start "ON" by default.
*/
.stars.rate:HOVER > A {
    color:#FC0;
    text-shadow:0px 1px 0 #000, 0 -1px 0 #fff;
}
/*
optional style for the specific star control a user is directly above.
*/
.stars.rate:HOVER > A:HOVER {
    color:#FC0;
    text-shadow:0px 2px 0 #000, 0 -1px 0 #fff;
    top:-1px;
}
/*
turn "OFF" all stars after the one the user is hovering over.
*/
.stars.rate >A:HOVER ~ A {
    color:#fff;
    text-shadow:none;
}
/* 
  all the styles below are used to display the apropriate portion of the BEFORE element based on percentage rating. unfortunately you will need to create a specific rule for each level of granularity you wish to display.


  if the CSS3 attr() function proposal ever gets implimented
  the remaining rules could all be replaced with the following:
  .stars[data-percent]:BEFORE {
    width:attr(data-percent,%,0);
  }
  
*/
.stars:NOT([data-percent]):BEFORE,
.stars[data-percent="0"]:BEFORE {
    display:none;
}

#ad-info-h{
    margin: 4.4% 2%;
}
